config MAC80211_COUNT_DRIVERS
	int
	default 0
config MAC80211_HW_HAS_RATE_CONTROL
	int
	default 0
config MAC80211_HW_RX_INCLUDES_FCS
	int
	default 0
config MAC80211_HW_HOST_BROADCAST_PS_BUFFERING
	int
	default 0
config MAC80211_HW_SIGNAL_UNSPEC
	int
	default 0
config MAC80211_HW_SIGNAL_DBM
	int
	default 0
config MAC80211_HW_NEED_DTIM_BEFORE_ASSOC
	int
	default 0
config MAC80211_HW_SPECTRUM_MGMT
	int
	default 0
config MAC80211_HW_AMPDU_AGGREGATION
	int
	default 0
config MAC80211_HW_SUPPORTS_PS
	int
	default 0
config MAC80211_HW_PS_NULLFUNC_STACK
	int
	default 0
config MAC80211_HW_SUPPORTS_DYNAMIC_PS
	int
	default 0
config MAC80211_HW_MFP_CAPABLE
	int
	default 0
config MAC80211_HW_WANT_MONITOR_VIF
	int
	default 0
config MAC80211_HW_NO_AUTO_VIF
	int
	default 0
config MAC80211_HW_SW_CRYPTO_CONTROL
	int
	default 0
config MAC80211_HW_SUPPORT_FAST_XMIT
	int
	default 0
config MAC80211_HW_REPORTS_TX_ACK_STATUS
	int
	default 0
config MAC80211_HW_CONNECTION_MONITOR
	int
	default 0
config MAC80211_HW_QUEUE_CONTROL
	int
	default 0
config MAC80211_HW_SUPPORTS_PER_STA_GTK
	int
	default 0
config MAC80211_HW_AP_LINK_PS
	int
	default 0
config MAC80211_HW_TX_AMPDU_SETUP_IN_HW
	int
	default 0
config MAC80211_HW_SUPPORTS_RC_TABLE
	int
	default 0
config MAC80211_HW_P2P_DEV_ADDR_FOR_INTF
	int
	default 0
config MAC80211_HW_TIMING_BEACON_ONLY
	int
	default 0
config MAC80211_HW_SUPPORTS_HT_CCK_RATES
	int
	default 0
config MAC80211_HW_CHANCTX_STA_CSA
	int
	default 0
config MAC80211_HW_SUPPORTS_CLONED_SKBS
	int
	default 0
config MAC80211_HW_SINGLE_SCAN_ALL_BANDS
	int
	default 0
config MAC80211_HW_SINGLE_SCAN_ALL_BANDS_OFF
	int
	default 0
config MAC80211_HW_SINGLE_SCAN_ON_ALL_BANDS
	int
	default 0
config MAC80211_HW_TDLS_WIDER_BW
	int
	default 0
config MAC80211_HW_SUPPORTS_AMSDU_IN_AMPDU
	int
	default 0
config MAC80211_HW_BEACON_TX_STATUS
	int
	default 0
