config WL18XX
	tristate "TI wl18xx support"
	depends on MAC80211
	increment MAC80211_NUM_DRIVERS
	select MAC80211_DRIVER_NO_HWFLAGS_OPT
	select WLCORE
	---help---
	  This module adds support for wireless adapters based on TI
	  WiLink 8 chipsets.
